name: Create ASCII

on: push

jobs: 
    first_job:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5.0.0

            - name: Welcome
              run: echo "Welcome to Github Actions"

            - name: Execute Script
              run: ./ascii.sh
              


